*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

a {
    color: #000000;
}

/* header */

.navigation {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navigation ul {
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.navigation li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.navigation li a:hover,
.navigation .menu-btn:hover {
    background-color: #f4f4f4;
}

.navigation .logo {
    display: block;
    float: left;
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 12px;
    text-decoration: none;
}

/* menu */

.navigation .menu {
    clear: both;
    text-align: center;
    /* MOAB */
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.navigation .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.navigation .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.navigation .menu-icon .navicon:before,
.navigation .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navigation .menu-icon .navicon:before {
    top: 5px;
}

.navigation .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.navigation .menu-btn {
    display: none;
}

.navigation .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.navigation .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.navigation .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.navigation .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


@media (min-width: 870px) {
    .navigation li {
        float: left;
    }

    .navigation li a {
        padding: 20px 30px;
    }

    .navigation .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .navigation .menu-icon {
        display: none;
    }

    .navigation .logo {
        margin-top: 0;
        font-size: 2em;
    }

    .greenframe {
        border: #467c46 solid 3px;
        padding: 0 5px 0 5px;
    }

}
